# Deriving New Variables

In [1]:
import pandas as pd
import numpy as np 
import os

In [3]:
path = r'C:\Users\mosh_\OneDrive\Desktop\Career Foundry\Data Immersion\Achievement 4 - Python Fundemental For Data Analyst'

In [5]:
path

'C:\\Users\\mosh_\\OneDrive\\Desktop\\Career Foundry\\Data Immersion\\Achievement 4 - Python Fundemental For Data Analyst'

In [7]:
df_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [9]:
df_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_derived.pkl'))

In [9]:
df = df_merged[:1000000]

In [11]:
df

,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,Match
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2789027,6474,prior,2,3,8,30.0,3020,7,0,Broccoli & Apple Stage 2 Baby Food,92,18,12.9,both
999996,2789027,6474,prior,2,3,8,30.0,35823,8,0,Complete Foaming Antibacterial Hand Soap Varie...,127,11,7.3,both
999997,2789027,6474,prior,2,3,8,30.0,27681,9,0,Lower Sugar Instant Oatmeal Variety,130,14,3.5,both
999998,2789027,6474,prior,2,3,8,30.0,2091,10,0,Almond Nut & Rice Cracker Snacks,78,19,6.8,both
999999,2789027,6474,prior,2,3,8,30.0,44199,11,0,Toll House Mini Chocolate Chip Cookie Dough,105,13,2.9,both

#### implementing a If statement on the price

In [14]:
## arranging price in 3 categories

In [16]:
def price_label(row):
    
    if row['prices'] <= 5:
        return 'Low-Range Product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-Range Product' 
    elif row['prices'] > 15:
        return ' High-Range Product'
    else: return ' Not enough data'

In [18]:
## applying the function to the dataset

In [ ]:
df['Price_range'] = df.apply(price_label, axis=1)

In [21]:
df

,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,Match,Price_range
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-Range Product
1,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-Range Product
2,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-Range Product
3,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-Range Product
4,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-Range Product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2789027,6474,prior,2,3,8,30.0,3020,7,0,Broccoli & Apple Stage 2 Baby Food,92,18,12.9,both,Mid-Range Product
999996,2789027,6474,prior,2,3,8,30.0,35823,8,0,Complete Foaming Antibacterial Hand Soap Varie...,127,11,7.3,both,Mid-Range Product
999997,2789027,6474,prior,2,3,8,30.0,27681,9,0,Lower Sugar Instant Oatmeal Variety,130,14,3.5,both,Low-Range Product
999998,2789027,6474,prior,2,3,8,30.0,2091,10,0,Almond Nut & Rice Cracker Snacks,78,19,6.8,both,Mid-Range Product
999999,2789027,6474,prior,2,3,8,30.0,44199,11,0,Toll House Mini Chocolate Chip Cookie Dough,105,13,2.9,both,Low-Range Product

In [19]:
df['Price_range'].value_counts()

Price_range
Mid-Range Product      673183
Low-Range Product      314392
 High-Range Product     12425
Name: count, dtype: int64

In [23]:
df['prices'].max()

99999.0

IF statement with the LOC Function

In [25]:
## arranging price based on LOC. using it on the subset DF of 1,000,000

In [ ]:
df.loc[df['prices']> 15, 'price_range_loc'] = 'High-Range product'

In [33]:
df.loc[(df['prices']<= 15) & (df['prices']> 5), 'price_range_loc'] = 'Mid- Range product'

In [35]:
df.loc[df['prices']< 5, 'price_range_loc'] = 'Low-Range product'

In [37]:
df

,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,Match,Price_range,price_range_loc
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-Range Product,Mid- Range product
1,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-Range Product,Mid- Range product
2,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-Range Product,Low-Range product
3,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-Range Product,Low-Range product
4,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-Range Product,Low-Range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2789027,6474,prior,2,3,8,30.0,3020,7,0,Broccoli & Apple Stage 2 Baby Food,92,18,12.9,both,Mid-Range Product,Mid- Range product
999996,2789027,6474,prior,2,3,8,30.0,35823,8,0,Complete Foaming Antibacterial Hand Soap Varie...,127,11,7.3,both,Mid-Range Product,Mid- Range product
999997,2789027,6474,prior,2,3,8,30.0,27681,9,0,Lower Sugar Instant Oatmeal Variety,130,14,3.5,both,Low-Range Product,Low-Range product
999998,2789027,6474,prior,2,3,8,30.0,2091,10,0,Almond Nut & Rice Cracker Snacks,78,19,6.8,both,Mid-Range Product,Mid- Range product
999999,2789027,6474,prior,2,3,8,30.0,44199,11,0,Toll House Mini Chocolate Chip Cookie Dough,105,13,2.9,both,Low-Range Product,Low-Range product

In [39]:
df['price_range_loc'].value_counts()

price_range_loc
Mid- Range product    673183
Low-Range product     307024
High-Range product     12425
Name: count, dtype: int64

In [41]:
## This matches the value when creating the if Statement

#### Loc function on the ords_prods_merge df

In [45]:
df_merged.loc[df_merged['prices']> 15, 'price_range_loc'] = 'High-Range product'

In [46]:
df_merged.loc[(df_merged['prices']<= 15) & (df['prices']> 5), 'price_range_loc'] = 'Mid- Range product'

In [47]:
df_merged.loc[df_merged['prices']< 5, 'price_range_loc'] = 'Low-Range product'

In [51]:
df_merged['price_range_loc'].value_counts()

price_range_loc
Low-Range product     9900417
Mid- Range product     673183
High-Range product     417678
Name: count, dtype: int64

#### For loops

In [ ]:
## finding the busiest day of the year

In [55]:
df_merged['orders_day_of_the_week'].value_counts(dropna = False)

orders_day_of_the_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [ ]:
## creating a loop for the busiest and least busiest day of the week

In [63]:
result = []
for value in df_merged['orders_day_of_the_week']:
    if value == 0 :
        result.append("busiest day")
    elif value == 4:
        result.append("least busy")
    else:
        result.append("Regular busy")

In [ ]:
## adding the result to the merged dataset

In [69]:
df_merged['busiest_day'].value_counts(dropna = False)

busiest_day
Regular busy    22416875
busiest day      6204182
least busy       3783802
Name: count, dtype: int64

#### identifying the two busiest and slowest days of the week

In [74]:
df_merged['orders_day_of_the_week'].value_counts(dropna = False)

orders_day_of_the_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [ ]:
## 0 and 1 are the busiest days of the week while 3 and 4 are the slowest days

#### Deriving new columns for 2 busiest and 2 least busiest days

In [114]:
result2= []

for value in df_merged['orders_day_of_the_week']:
    if value == 0 or value == 1:
        result2.append("busiest days")
    elif value == 4 or value == 3:
        result2.append("slowest days")
    else:
        result2.append("Normal busy")

In [ ]:
##  updating the current busiest day column with new results

In [118]:
df_merged['busiest_day'] = result2

In [120]:
df_merged

,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,Match,price_range_loc,busiest_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid- Range product,Normal busy
1,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid- Range product,Normal busy
2,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-Range product,Normal busy
3,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-Range product,Normal busy
4,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-Range product,Normal busy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,prior,13,1,12,7.0,14197,5,1,Tomato Paste,9,9,5.6,both,NaN,busiest days
32404855,2977660,206209,prior,13,1,12,7.0,38730,6,0,Brownie Crunch High Protein Bar,3,19,5.9,both,NaN,busiest days
32404856,2977660,206209,prior,13,1,12,7.0,31477,7,0,High Protein Bar Chunky Peanut Butter,3,19,4.2,both,Low-Range product,busiest days
32404857,2977660,206209,prior,13,1,12,7.0,6567,8,0,Chocolate Peanut Butter Protein Bar,3,19,4.9,both,Low-Range product,busiest days
32404858,2977660,206209,prior,13,1,12,7.0,22920,9,0,Roasted & Salted Shelled Pistachios,117,19,1.7,both,Low-Range product,busiest days

In [122]:
df_merged['busiest_day'].value_counts(dropna = False)

busiest_day
Normal busy     12916111
busiest days    11864412
slowest days     7624336
Name: count, dtype: int64

#### Busiest periods of the day

In [ ]:
## Identify what times of day is the busiest

In [134]:
df_merged['order_hour_of_day'].value_counts( dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [ ]:
## Dividing the busiest time into 3 sections

In [138]:
result3=[]

for value in df_merged['order_hour_of_day']:
    if value in [10, 11, 14, 15, 13, 12, 16, 9]:
        result3.append("Most Orders")
    elif value in [23, 6, 0, 1, 5, 2, 4, 3]:
        result3.append("Fewest Orders") 
    else:
        result3.append("Average orders")

In [ ]:
## inserting the busiest time into the merged df

In [142]:
df_merged['busiest_period_of_day'] = result3

In [146]:
df_merged['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most Orders       21118071
Average orders     9997651
Fewest Orders      1289137
Name: count, dtype: int64

In [152]:
df_merged.to_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'ords_prods_merge_derived.pkl'))